<div class='guitar-chords guitar-tab'>
  <svg class='chordChart' {{bind-attr id=id title=title fret=fret label=label footer=footer music=music}} class="chordChart"></svg>
</div>

{{#if music}}
  <div class='guitar-chords guitar-music'>
      <button {{action 'playMusic' }}>Play!</button>
  </div>
{{/if}}
