{{!-- <chord {{bind-attr name=name positions=positions fingers=fingers size=size music=music}}></chord> --}}

<svg class='chordChart' {{bind-attr id=id title=title fret=fret label=label footer=footer music=music}} class="chordChart">My chart goes here</svg>

{{#if music}}
  <button {{action 'playMusic' }}>Play!</button>
{{/if}}
